.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: .5%;
    padding-bottom: .5%;
    color: white;
}
.title{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}
.navMiddle{
    display: flex;
    justify-content: space-between;
    width: 600px;
    flex-direction: row;
    font-family: Roboto;
    font-size: 20px;
}
.navRight{
    display: flex;
    direction: row;
    justify-content: space-between;
    width: 300px;
    vertical-align: middle;
}
.cart-person{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    color: black;
}
.header{
    background-color: rgb(0, 0, 102);
    align-items: center;
    color: white;
    font-size: 10px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}
.signCreate{
    text-decoration: underline;
}