.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: .5%;
    padding-bottom: .5%;
    color: white;
}

.NavBar:hover {
    transition: .2s;
    background-color: white;
    color: black;

    .cart-person {
        color: black;
    }

    .navRight {
        color: black;
    }
}

.title {
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

.navMiddle {
    display: flex;
    justify-content: space-between;
    width: 600px;
    flex-direction: row;
    font-family: Roboto;
    font-size: 20px;
}

.navRight {
    display: flex;
    direction: row;
    justify-content: space-between;
    width: 300px;
    vertical-align: middle;
}

.cart-person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    color: white;
    cursor: pointer;

}

.header {
    background-color: rgb(0, 0, 102);
    align-items: center;
    color: white;
    font-size: 10px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}

.signCreate {
    text-decoration: underline;
}

.bg-image {
    background-image: url("/src/utils/images/0206_w_polo_plp_c01_img.webp");
    height: 950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 20s infinite ease-in-out alternate;
}

@keyframes change {
    0% {
        background-image: url("/src/utils/images/0130_boys_american_in_paris_plp_c01_img.jpg");
    }

    20% {
        background-image: url("/src/utils/images/0130_boys_american_in_paris_plp_c01_img.jpg");
    }

    40% {
        background-image: url("/src/utils/images/1228_w_polo_plp_c01_img.jpg");
    }

    60% {
        background-image: url("/src/utils/images/1228_w_polo_plp_c01_img.jpg");
    }

    80% {
        background-image: url("/src/utils/images/0206_w_polo_plp_c01_img.webp");
    }
    100% {
        background-image: url("/src/utils/images/0206_w_polo_plp_c01_img.webp");
    }
}


.arrows {
    position: relative;
    display: flex;
    direction: row;
    justify-content: center;
    top: 250px;
}

.midddleBody {
    font-family: 'Caveat', cursive;
    font-size: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.footer {
    background-color: rgb(0, 0, 102);
    align-items: center;
    color: white;
    font-size: 10px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.Body {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.shoes-grid {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}